.entry {
    text-align: center;
    color: #3F3D56;
    padding-top: 5em;
    
}

.entry h1 {
    font-weight: 600;
    font-size: 3rem;
}

.entry h3 {
    font-weight: 400;
    font-size: 1.875rem;
}