/* GRIDS FOR TABLES*/

/* Grid for AssignedTranslatorsTM.js */

.table-grid {
  display: grid;
  grid-template-rows: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 0 1em;
}

.assigned-trans-TM {
  grid-template-columns: 5fr 1fr 2fr 2fr 2fr 1fr;
}

.project-pages-TM {
  grid-template-columns: 6fr 6fr 1fr;
}

.center {
  text-align: center;
}

.header {
  background-color: #000;
  grid-template-rows: 50px;
  color: #ffffff;
  margin-top: 20px;
}
