/* GRIDS FOR TABLES*/

/* Grid for AssignedTranslatorsTM.js */

.table-grid {
    display: grid;
    grid-template-rows: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
    padding: 0 1em;
}

.assigned-trans-TM {
    grid-template-columns: 2fr 4fr 2fr 1fr;
}

.project-pages-TM {
    grid-template-columns: 6fr 6fr 1fr;
}

.center {
    text-align: center;
}

.assigned-proj-TR {
    grid-template-columns: 4fr 2fr 2fr 1fr;
}

.no-table {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.875em;
    justify-items: center;
}

.no-table p {
    margin: 2em ;
    color: rgba(0,0,0,0.5)
}

.header {
    background-color: #000;
    grid-template-rows: 50px;
    color: #ffffff;
    margin-top: 20px;
}
