.dashboard {
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns: minmax(230px, 1fr) minmax(280px, 1140px) 1fr;
    grid-template-rows: 100vh;
    padding-top: 5em;
}

.body {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 150px 1fr;
}

