.compare {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin-top: 20px;
    grid-column-gap: 1.5em;
    margin-bottom: 5em;
  }

.compare-txt{
    display: grid;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 1.5em;
    padding: 1.5em 1em;
}

.mt1 {
    margin-top: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.white {
    color: #ffffff;
}

.child {
    padding-left: 50px;
    background-color: lightblue;
    border-bottom: 0;
    padding: 0.5em 1em 0.5em 2.5em;
    margin-bottom: 2px;
    min-height: 24px
}

.mt30 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 20vh;
}

.download {
    cursor: pointer;
}